@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLink li {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5]
    hover:text-[#b3b3b3] transition duration-100 md:ml-4;
  }
}
@layer components {
  header {
    @apply fixed left-0 top-0 z-50 flex w-full justify-between
    items-center p-4 transition-all lg:px-10 lg:py-6;
  }
}

.twitter-color {
  color: rgb(29, 155, 240);
}
.twitter-bg-color {
  background-color: rgb(29, 155, 240);
}

.hover:hover {
  background-color: rgba(128, 128, 128, 0.276);
  transition: color 0.4s ease;
}
.search_bg {
  background-color: rgba(128, 128, 128, 0.276);
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.text-color {
  color: #536471;
}
.Retweet {
  color: green;
}
.like {
  color: pink;
}
.view {
  color: blue;
}

.scrollable-container {
  overflow-y: scroll;
}
.scrollable-container::-webkit-scrollbar {
  width: 0em;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
}
body {
  overflow: hidden;
}
/* #1D9BF0 */
/* #__next{
  display: flex;
} */

.userProfile__header {
  background-color: rgb(207, 217, 222);
}
.tweetList li {
  color: #536471;
  font-weight: 500;
  cursor: pointer;
  padding: 16px 0;
}
.tweetList li .active::after{
  background-color: red;
  content: 'fha';
  height: 2px ;
  width: 50px;
}

